.header {
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #e5e7eb;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo {
  display: flex;
}

.logo__icon {
  height: 2rem;
  width: auto;
}

.menu {
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.menu__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #9ca3af;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.menu__button:hover {
  background-color: #f3f4f6;
  color: #6b7280;
}

.menu__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: #f3f4f6;
  color: #6b7280;
}

.menu__icon {
  height: 1.5rem;
  width: 1.5rem;
}

.nav {
  display: none;
}

.nav__a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #6b7280;
}

.nav__a:hover {
  color: #111827;
}

.auth {
  display: none;
  align-items: center;
  justify-content: end;
}

.auth__a {
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #6b7280;
}

.auth__a:hover {
  color: #111827;
}

.a_primary {
  margin-left: 2rem;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #fff;
  background-color: #4f46e5;
}

.a_primary:hover {
  color: #fff;
  background-color: #4338ca;
}

.user {
  display: none;
  margin-left: 0.75rem;
  position: relative;
  align-items: center;
  justify-content: end;
}

.user__button {
  background-color: #fff;
  max-width: 20rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.user__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.user__button:hover {
  cursor: pointer;
}

.user__img {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.user__dropdown {
  transform-origin: top right;
  position: absolute;
  top: 2rem;
  right: 0px;
  margin-top: 0.5rem;
  width: 12rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
}

.user__dropdown:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dropdown__a {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform-origin: top right;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #fff;
  border-top-width: 0px;
  border-bottom-width: 2px;
  border-color: #e5e7eb;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__logo {
  height: 2rem;
  width: auto;
}

.modal__close {
  margin-right: -0.5rem;
}

.modal__button {
  display: inline-flex;
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}

.modal__button:hover {
  background-color: #f1f5f9;
  color: #6b7280;
}

.modal__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: #f1f5f9;
  color: #6b7280;
}

.modal__icon {
  height: 1.5rem;
  width: 1.5rem;
}

.modal__nav {
  display: grid;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1rem;
  column-gap: 2rem;
}

.modal__nav__a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #18181b;
}

.modal__nav__a:hover {
  color: #3f3f46;
}

.modal__auth {
  margin-top: 1.5rem;
}

.modal__auth__a {
  color: #4f46e5;
}

.modal__auth__a:hover {
  color: #6366f1;
}

.modal__a_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: #4f46e5;
  color: #fff;
}

.modal__a_primary:hover {
  background-color: #4338ca;
  color: #fff;
}

.modal__auth__footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #6b7280;
}

.modal__user {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  border-top-width: 1px;
  border-color: #e5e7eb;
}

.modal__user__header {
  display: flex;
  align-items: center;
}

.modal__user__img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}

.modal__user__info {
  margin-left: 0.75rem;
}

.modal__user__name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: #18181b;
}

.modal__user__email {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: #6b7280;
}

@media (min-width: 640px) {
  .header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .logo__icon {
    height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }

  .menu {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav__a {
    margin-left: 2.5rem;
  }

  .auth {
    display: flex;
    flex: 1 1 0%;
  }

  .user {
    display: flex;
    flex: 1 1 0%;
  }

  .modal {
    display: none;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 0;
    flex: 1 1 0%;
  }

  .auth {
    width: 0;
  }
}
