.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  max-width: 80rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

router-outlet + ::ng-deep * {
  flex: 1 1 0%;
  display: flex;
}
